
body {
    background-color:  #dbe3e6;
    margin-left: 10%;
    margin-right: 10%;
}
 
.header{
    background-color: #dbe3e6;
    text-align: left;
    padding: 10px;
}

.column{
    float: left;
    width: 40%;
    margin-right: 20%;
    margin-bottom: 20%;
}

.column.text{
    float: right;
    width: 40%;
    margin-right: 10%;
    margin-left: 10%;
}

/* The navbar container */
 .topnav {
    overflow: hidden;
    background-color: #808080;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 


div.desc {
    padding: 15px;
    text-align: center;
  }


img {
    display: block;
    margin-left: 60%;
    margin-top: 15%;
    margin-right: auto;
    border-radius: 20%;

  }

h1 {
    color: #29acbb;
    text-align: center;
}

p {
   text-align: justify; 
   margin-left: 3%;
   margin-bottom: 3%;
}
